<div class="well well-sm">
	{{.ProfileText}}
</div>
<dl>
	{{if .Pronouns}}
		<dt>Pronouns</dt>
		<dd>{{.Pronouns}}</dd>
	{{end}}
	<dt>Website</dt>
	<dd>
		{{if .Website}}
			<a href="{{.Website}}" target="_blank">{{.Website}} <span class="glyphicon glyphicon-share" aria-hidden="true"></span></a>
		{{end}}
	</dd>
</dl>