<div class="panel panel-danger">
	<div class="panel-heading">
		<h2 class="panel-title">Hmm, bit of a problem here.</h2>
	</div>
	<div class="panel-body">
		<p>We had trouble parsing that request.  One possible cause might be that you had an out-of-date token in your request, which can happen if you try to submit a form twice.  You'll need to refresh the page you were on for a fresh one!</p>
	</div>
</div>