<div class="panel panel-danger">
	<div class="panel-heading">
		<h2 class="panel-title">Whoops!</h2>
	</div>
	<div class="panel-body">
		<p>Our bad, on that one!  We've got logs on our end so we can figure out what's up.</p>
	</div>
</div>