<dl>
	<dt>Query:</dt>
	<dd>{{.Q}}</dd>
	<dt>Search completed in:</dt>
	<dd>{{.Res.Took}}ms</dd>
	<dt>Number of results:</dt>
	<dd>{{.Res.Hits.Total}}</dd>
</dl>
<form method="get" action="/search">
	<div class="form-group">
		<input type="text" name="q" class="form-control" value="{{.Q}}" />
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<ul>
{{range .Res.Hits.Hits}}
<li>{{.Id}}</li>
{{end}}
</ul>