<div class="jumbotron">
	<h2>Welcome to <strong>Warren</strong>!</h2>
	<p>Warren is a networked content-sharing site, allowing you to link together a web of your creations.</p>
	<p>
		<a href="/about" class="btn btn-info btn-lg">Learn more</a>
		<a href="/register" class="btn btn-primary btn-lg">Sign up!</a>
	</p>
</div>