{{define `base`}}
<html>
	<head>
		<title>{{template `title`}}</title>
	</head>
	<body>
		<h1>{{template `title`}}</h1>
		{{if .Flashes}}
		{{range .Flashes}}
		<p class="{{.Class}}">{{.Message}}</p>
		{{end}}
		{{end}}
		{{template `content`}}
	</body>
</html>
{{end}}