{{define `base`}}
<html>
	<head>
		<title>{{template `title`}}</title>
	</head>
	<body>
		<h1>{{template `title`}}</h1>
		<p>
			{{if .User.IsAuthenticated}}
				Logged in as {{.User.Username}} - <a href="/logout">Logout</a>
			{{else}}
				<a href="/login">Login</a>
			{{end}}
		</p>
		{{if .Flashes}}
			{{range .Flashes}}
				<p class="{{.Class}}">{{.Message}}</p>
			{{end}}
		{{end}}
		{{template `content`}}
	</body>
</html>
{{end}}