{{define `base`}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{.Title}}</title>

		<!-- ___Bootstrap___ -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="/lib/bootstrap-3.3.4/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="/lib/bootstrap-3.3.4/css/bootstrap-theme.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
   				    	<span class="sr-only">Toggle navigation</span>
    			    	<span class="icon-bar"></span>
   			        	<span class="icon-bar"></span>
       			    	<span class="icon-bar"></span>
      				</button>
      				<a class="navbar-brand" href="/">Warren</a>
      			</div>
      			<div class="collapse navbar-collapse">
      				<ul class="nav navbar-nav">
      					<li><a href="/posts">All posts</a></li>
      					{{if .User.IsAuthenticated}}
      						<li><a href="/posts/following">Following</a></li>
      						<li><a href="/posts/friends">Friends</a></li>
      					{{end}}
      				</ul>
      				<ul class="nav navbar-nav navbar-right">
  						{{if .User.IsAuthenticated}}
  							<li><a href="/post/create">Post</a></li>
							<li><a href="/~{{urlquery .User.Model.Username}}">{{.User.Model.Username}}</a></li>
							<li><a href="/logout">Logout</a></li>
						{{else}}
							<li><a href="/login">Login</a></li>
							<li><a href="/register">Register</a></li>
						{{end}}
					</ul>
      			</div>
      		</div>
		</div>
		{{if ne .Title "Welcome"}}
			<header class="container">
				<h1>{{.Title}}</h1>
			</header>
		{{end}}
		<article class="container">
			{{if .Flashes}}
				{{range .Flashes}}
					<div class="alert alert-{{.Class}} alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						{{.Message}}
					</div>
				{{end}}
			{{end}}
			{{yield}}
		</article>


    	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="/lib/jquery-2.1.3.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="/lib/bootstrap-3.3.4/js/bootstrap.min.js"></script>
		<!-- Graph-drawing magic -->
		<script src="/lib/d3.min.js"></script>
		<script src="/lib/dagre-d3.min.js"></script>
		<script src="/lib/mermaid-0.4.0/mermaid.slim.min.js" nonce="21"></script>
	</body>
</html>
{{end}}