{{define `title`}}Log in{{end}}

{{define `content`}}
<form method="POST">
	<label>Username: <input type="text" name="username" /></label>
	<label>Password: <input type="password" name="password" /></label>
	<input type="submit" value="Log in" />
</form>
{{end}}