{{define `title`}}Register{{end}}

{{define `content`}}
<form method="post">
	<label>Username <input type="text" name="username" /></label>
	<label>Email <input type="text" name="email" /></label>
	<label>Password <input type="password" name="password" /></label>
	<label>Confirm password <input type="password" name="passwordconfirm" /></label>
	<input type="submit" value="Register" />
</form>
{{end}}