<h2>Edit settings</h2>
<form method="post" action="/user/settings" class="form-horizontal">
	<input type="hidden" name="_csrf_token" value="{{.CSRF}}" />
	<input type="hidden" name="username" value="{{.User.Model.Username}}" />
	<div class="form-group">
		<label class="col-sm-2 control-label" for="password">* Current password:</label>
		<div class="col-sm-10">
			<input type="password" name="password" id="password" class="form-control" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="newpassword">New password</label>
		<div class="col-sm-10">
			<input type="password" name="newpassword" id="newpassword" class="form-control" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="newpasswordconfirm">New password</label>
		<div class="col-sm-10">
			<input type="password" name="newpasswordconfirm" id="newpasswordconfirm" class="form-control" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="email">Email address</label>
		<div class="col-sm-10">
			<input type="text" name="email" id="email" class="form-control" value="{{.User.Model.Email}}" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input type="submit" value="Save settings" class="btn btn-primary" />
		</div>
	</div>
</form>

<h2>Edit profile</h2>
<form method="post" action="/user/profile" class="form-horizontal">
	<input type="hidden" name="_csrf_token" value="{{.CSRF}}" />
	<div class="form-group">
		<label class="col-sm-2 control-label" for="profile">Profile markdown</label>
		<div class="col-sm-10">
			<textarea name="profile" id="profile" class="form-control" rows="10">{{.ProfileStr}}</textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="pronouns">Pronouns</label>
		<div class="col-sm-10">
			<div class="input-group">
				<input type="text" name="pronouns" id="pronouns" class="form-control" value="{{.Pronouns}}" />
				<span class="input-group-btn pronoun-chooser">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Some defaults <span class="caret"></span></button>
					<ul class="dropdown-menu dropdown-menu-right" role="menu">
						<li><a>they/them/their</a></li>
						<li><a>she/her/hers</a></li>
						<li><a>he/him/his</a></li>
						<li><a>ey/em/eir</a></li>
						<li><a>xe/xem/xyr</a></li>
					</ul>
				</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="website">Website</label>
		<div class="col-sm-10">
			<input type="text" name="website" id="website" class="form-control" value="{{.Website}}" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input type="submit" value="Save profile" class="btn btn-primary" />
		</div>
	</div>
</form>

<script src="/js/editProfile.js"></script>