<dl>
	<dt>Username</dt>
	<dd>{{.DisplayUser.Username}}</dd>
	<dt>Following</dt>
	<dd>{{len .DisplayUser.Following}}</dd>
	<dt>Followers</dt>
	<dd>{{len .DisplayUser.Followers}}</dd>
	<dt>Friends</dt>
	<dd>{{len .DisplayUser.Friends}}</dd>
</dl>